/* Custom Stylesheet */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 15rem;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container{
    margin-top: 20px;
}
.homepage-feature {
    padding:10px;
    text-align: center;
    cursor: pointer; cursor: hand;
}
.homepage-feature:hover {
  background-color: #F4F4F4;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.document-navigator {
    padding: 20px;
    border: 1px solid #F4F4F4;
}

#header-row {
    border-bottom: 1px solid #efefef;
}

#logo h2 {
    font-size: 3.0rem; letter-spacing: -.1rem; color: #FF5722;
    margin: 10px 0 0 0;
    cursor: pointer; cursor: hand;
}

/*#nav {
    margin: 3rem 0 0 0;
}*/

#nav ul li {
    float: right;
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 30px;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#footer {
    background-color: #efefef;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}