/* Custom Stylesheet */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 20rem;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    /*padding-top: 18px;*/
}

.homepage-feature {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    cursor: hand;
}

.homepage-feature:hover {
    background-color: #F4F4F4;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.nav-button {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    float: right;
}

.nav-button p {
    padding-top: 18px;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.nav-button:hover {
    /*color: #FF5722;*/
    background-color: #EAEAEA;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    cursor: hand;
}

.search-button {
    padding-left: 5px;
    padding-right: 5px;
}

.document-navigator {
    padding: 20px;
    border: 1px solid #F4F4F4;
}

#logo h2 {
    font-size: 3.0rem;
    letter-spacing: -.1rem;
    color: #FF5722;
    margin: 0rem;
    0 0 0;
    cursor: pointer;
    cursor: hand;
}

#logo img {
    cursor: pointer;
    cursor: hand;
    margin-top: 15px;
    height: 30px;
}

.message-popup {
    padding: 0 20px 0 20px;
    border: 1px solid #FF5722;
    margin: 10px 0 10px 0;
}

.message-popup:hover {
    background-color: #F4F4F4;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    cursor: hand;
}

.form-validation-error {
    color: #FF5722;
}

#nav ul li {
    text-transform: lowercase;
    float: right;
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 0px;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#footer {
    background-color: #F8F8F8;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    border-top: 1px solid #EAEAEA;
}

header {
    background-color: #F8F8F8;
    border-bottom: 1px solid #EAEAEA;
}
