<footer>
<div id="footer" class="row">
<div class="container">

    <div class="twelve columns" style="margin-top: 4rem; margin-bottom: 4rem">
        <i class="fa fa-twitter-square" aria-hidden="true"></i> &nbsp;
        <a href="https://twitter.com/intent/tweet?text=Spectacle+-+A+library+for+public+documents.+Check+it+out,+contribute:+&url=https%3A%2F%2Fspectaclearchive.com%2F&original_referer=https%3A%2F%2Fspectaclearchive.com">
            Spread the word on twitter
        </a>
    </div>

</div>
</div>
</footer>
