<header>
<div class="container">

  <div id="header-row" class="row">

    <div id="logo" class="four columns">
      <h2 onclick="location.href='/';">Spectacle</h2>
    </div>

    <div id="nav" class="eight columns u-pull-right">
      <ul>
        {% if user_info['logged_in'] %}
        <li><a href="/logout">Logout {{user_info.username}}</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>

  </div>

</div>
</header>
