<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spectacle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style_material.css') }}" rel="stylesheet">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modules/searcher.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modules/popular.js') }}"></script>
  <script>
    $(document).ready(function() {
        Searcher.init();
        PopularTopics.init();
    });
  </script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Spectacle</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col s12" style="margin-top: 5%">
        <h2 class="center-align">Spectacle</h2>
        <p class="center-align">Lorem ipsum dolores umbridge</p>
      </div>
    </div>

     <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s8 center">
            <input id="search_string" type="text" class="" placeholder="Type anything">
          </div>
          <div class="input-field col s4">
            <a class="btn-floating btn-large waves-effect waves-light deep-orange accent-2" id="search_button"><i class="material-icons">search</i></a>
          </div>
        </div>
      </form>
    </div>

    <div id="search_results_panel" class="row" hidden>
      <div class="col s12" style="margin-top: 5%">
        <h4>Search Results</h4>
      </div>
      <div id="search_results" class="col s12"></div>
    </div>

    <div class="row">
      <div class="col s12" style="margin-top: 5%">
        <h4>Popular topics</h4>
      </div>
      <div id="popular_topics" class="col s12" style="margin-top: 5%">
      </div>
    </div>
    

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
