<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spectacle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include 'header.html' %}
  <div class="container" style="margin-top: 5%">
  <form action="" method="post">
    <div class="row" style="margin-top: 2rem">
      <div class="six columns"style="margin-top: 1rem">
        <h3>Sign in</h3>
        <p>Don't have an account? <a href="/register">Create one!</a>  It's free.
      </div>
    </div>

    <div class="row" style="margin-top: 2rem">
      <div class="six columns"style="margin-top: 1rem">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="" name="username" value="{{request.form.username }}">
      </div>
    </div>
    <div class="row" style="margin-top: 2rem">
      <div class="six columns"style="margin-top: 1rem">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="" name="password" value="{{ request.form.password }}">
      </div>
    </div>

    <div class="row" style="margin-top: 2rem">
      <div class="three columns"style="margin-top: 1rem">
        <button class="button-primary" type="submit">Login</button>
      </div>
    </div>

  </form>
  </div>

<!-- 
  <div class="row" style="margin-top: 2rem">
    <div class="three columns"style="margin-top: 1rem">
      <button class="button-primary" type="submit" sid="submit_button">Submit</button>
    </div>
  </div>
 -->
  {% include 'footer.html' %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
