<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spectacle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include 'header.html' %}
  <div class="container" style="margin-top: 5%">
  <form action="" method="post">
    <div class="row" style="margin-top: 2rem">
      <div class="six columns"style="margin-top: 1rem">
        <h3>Register</h3>
        <p>This feature is being worked on, and it shall be available soon. Thanks for your patience!</p>
        <p>Meanwhile, you can still <a href="/">search</a> or <a href="/submit">submit</a> documents without an account.</p>
      </div>
    </div>
  </form>
  </div>

<!-- 
  <div class="row" style="margin-top: 2rem">
    <div class="three columns"style="margin-top: 1rem">
      <button class="button-primary" type="submit" sid="submit_button">Submit</button>
    </div>
  </div>
 -->
  {% include 'footer.html' %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
