<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spectacle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include 'header.html' %}

  <div class="container">

    <div class="row">
      <div class="twelve columns">
        <h3> Unpublished Documents </h3>
      </div>
    </div>

    {% if docs_to_review %}
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <table class="u-full-width">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date Added</th>
            <th>Source</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for doc in docs_to_review %}
          <tr>
            <td>{{doc.title}}</td>
            <td>{{doc.date_added}}</td>
            <td>{{doc.source}}</td>
            <td><a href="/document/review/{{doc.id}}">Review</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    {% else %}
    <p>Nothing to review!</p>
    {% endif %}

  </div>
  {% include 'footer.html' %}
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
