<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spectacle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/modules/document_submitter.js') }}"></script>
  <script>
    $(document).ready(function() {
        DocumentSubmitter.init();
    });
  </script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include 'header.html' %}

  <div class="container">

    <div class="row">
      <div class="twelve columns">
        <h3>Submit document</h3>
      </div>
    </div>

    <div class="row" style="margin-top: 1rem" id="status_bar" hidden>
      <div class="ten columns message-popup">
        <h5>Thanks!</h5>
        <p>The document has been added to our database, and will be available as soon as it has been reviewed and published.</p>
      </div>
      <!-- <div class="two columns">
        <button class="button" id="dismiss_status_bar_button">OK</button>
      </div> -->
    </div>

    <div class="row" style="margin-top: 1rem">
      <div class="eight columns"style="margin-top: 1rem">
        <label for="form_title">Title</label>
        <input class="u-full-width" type="text" placeholder="" id="form_title">
      </div>
      <div class="four columns"style="margin-top: 1rem">
        <p class="form-validation-error" id="form_title_validation"></p>
      </div>
    </div>

    <div class="row" style="margin-top: 1rem">
      <div class="eight columns"style="margin-top: 1rem">
        <label for="form_summary">Summary</label>
        <textarea class="u-full-width" placeholder="" id="form_summary" rows="5"></textarea>
      </div>
      <div class="four columns"style="margin-top: 1rem">
        <p class="form-validation-error" id="form_summary_validation"></p>
      </div>
    </div>

    <div class="row" style="margin-top: 1rem">
      <div class="eight columns"style="margin-top: 1rem">
        <label for="form_original_url">Original URL</label>
        <input class="u-full-width" type="text" placeholder="" id="form_original_url">
      </div>
      <div class="four columns"style="margin-top: 1rem">
        <p class="form-validation-error" id="form_original_url_validation"></p>
      </div>
    </div>

    <div class="row" style="margin-top: 1rem">
      <div class="eight columns"style="margin-top: 1rem">
        <label for="form_source">Source</label>
        <input class="u-full-width" type="text" placeholder="" id="form_source">
      </div>
      <div class="four columns"style="margin-top: 1rem">
        <p class="form-validation-error" id="form_source_validation"></p>
      </div>
    </div>

    <div class="row" style="margin-top: 2rem">
      <div class="three columns"style="margin-top: 1rem">
        <button class="button-primary" id="submit_button">Submit</button>
      </div>
    </div>

  </div>

  {% include 'footer.html' %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
