<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spectacle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include 'header.html' %}

  <div class="container">

    <div class="row">
      <div class="twelve columns">
        <h3> {{document_data.title}} </h3>
      </div>
    </div>

    <div class="row">
      <div id="section-description" class="eight columns" style="margin-top: 5%">
        <h4>Description</h4>
        <p> {{document_data.summary}} </p>
      </div>
      <div class="four columns document-navigator" style="margin-top: 5%">
        <h5>Navigate</h5>
        <ul>
          <a href="#section-description"> <li>Description</li> </a>
          <a href="#section-document-pdf"> <li>Document</li> </a>
          <a href="#section-metadata"> <li>Metadata</li> </a>
        </ul>
      </div>
    </div>

    <div class="row">
      <div id="section-document-pdf" class="twelve columns" style="margin-top: 5%">
        <h4>Document</h4>
        <object data="{{document_data.url}}" type="application/pdf" width="100%" height="700">
          <iframe src="{{document_data.url}}" width="100%" height="700" style="border: none;">
            This browser does not support PDFs. Please download the PDF to view it: <a href="{{document_data.url}}">Download PDF</a>
          </iframe>
        </object>
      </div>
    </div>

    <div class="row">
      <div id="section-metadata" class="twelve columns" style="margin-top: 5%">
        <h4>Metadata</h4>
        <table class="u-full-width">
          <tbody>
            <tr> <td><b>Date Submitted</b></td> <td>{{document_data.date_added}}</td> </tr>
            <tr> <td><b>Date Published</b></td> <td>{{document_data.date_published}}</td> </tr>
            <tr> <td><b>Source</b></td> <td>{{document_data.source}}</td> </tr>
            <tr> <td><b>Original URL</b></td> <td><a href="{{document_data.original_url}}">Link</a></td> </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div> 
  
  {% include 'footer.html' %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
